.scraper-builder .response {
  margin-top: 16px;
}

.scraper-builder .selector-type {
  width: 100%;
}

.scraper-builder .selector-type .btn {
  width: 50%;
}

.scraper-builder table tbody tr td {
  border-top: none;
}

.scraper-builder table tbody tr td:first-child {
  width: 150px;
  padding-left: 0;
}

.scraper-builder table tbody tr td:nth-child(3) {
  width: 35px;
  padding-right: 0;
}

.scraper-builder .btn-copy-to-cb {
  line-height: 1;
}

.scraper-builder code {
  overflow: scroll;
  max-height: 500px;
}

.scraper-builder .response code {
  white-space: pre;
}
