.app .page-header {
  margin-top: 30px;
  text-align: center;
}

.app .page-header .page-description {
  margin-top: 15px;
}

.app .scraper-builder-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}
